<launch>
  <arg name="launch_gazebo" default="false" doc="Option to launch turtlebot in Gazebo instead of real life."/>

  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" if="$(arg launch_gazebo)"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="burger" />
  </include>

  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="burger" />
    <arg name="move_forward_only" value="false"/>
  </include>

  <include file="$(find slam_toolbox)/online_sync.launch"/>

  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>

  <node pkg="homework4" type="exploration" name="exploration" output="screen"/>
</launch>